h1{
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
/*.tit{
	position: absolute;
	top: 97px;
	left: 44%;
	font-family: 'Poppins', sans-serif;
	
}

/*morado #9307EF  azul #1008E9*/

.contenedor{
    position: relative;
    margin: 0px 163px ;
    top: 0px;
	width: 950px;
	height: 500px;
	
}
.bar{
	 position: relative;
	 width: 100%;
	 height: 90px;
	
}
/* Cajas de Opciones*/
.opciones{
	position: absolute;
	top: 0px;
	background-image: 
	linear-gradient(to top,#0B2BF9,#7A4FD2);
	

}
div.opc{
	border: 0;
	border-radius: 7px;
	margin: 0px 30px;
	width: 300px;
	height: 160px;
	overflow: hidden;
}
.opc img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    .opc img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
.opciones,.opciones_1,.opciones_2{

	top: 30px;
	position: relative;
	
	

}
.opciones_3,.opciones_4,.opciones_5{
top: 230px;
	position: relative;
	
	

}

.opciones_1{
position: absolute;

left: 35%;
	
	background-image: 
	linear-gradient(to top,#0B2BF9,#63B2EB);
	

}
.opciones_2{
	position: absolute;
	
	left: 69.7%;
	background-image: 
	linear-gradient(to top,#0B2BF9,#7A4FD2);
	

}
.opciones_3{
position: absolute;


	
	background-image: 
	linear-gradient(to top,#0B2BF9,#63B2EB);
	

}
.opciones_4{
position: absolute;

left: 35%;
background-image: 
	linear-gradient(to top,#0B2BF9,#7A4FD2);
	

}
.opciones_5{
position: absolute;

left: 69.7%;
	
	background-image: 
	linear-gradient(to top,#0B2BF9,#63B2EB);
	

}

a.r{
	border: 0;
	border-radius: 3px;
	padding: 8px 30px;
	position: absolute;
	height: 18px;
	width: 90px;
	top: 66%;
	left: 24%;
	text-decoration: none;
	text-align:center;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}

.mr{
background: #9004DA;
}
.az{
background: #044EEF;
}
.mr:hover{
	background: #AD18FB;
}
.az:hover{
	background: #105BFE;
}
.h_op{
	position:absolute	;	
top:20%;
left:10%; 	
font-size: 20px;
color: #fff;
font-family: 'Poppins', sans-serif;

}


@media (max-width: 768px){
.contenedor {
    position: 	relative;	
    margin: 0px 0px;
    padding: 	3px 3px;
    top: 0px;
    width: 100%;
    height: 100%;	
    background: #fff;
}
div.opc{
	position: 	relative;		
	top: 	0;
	left: 	4%;
margin: 6px 6px; 	
	display:block;
	border: 0;
	border-radius: 7px;
	width: 300px;
	height: 150px;
	overflow: hidden;
	 	

}


}




