@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');
body{
	
	
	font-family: 'Poppins', sans-serif;
}
.swiper-container {
	position: relative;	
      width: 280px;
      height: 160px;
      border-radius: 4px;
      
    }
   
.btn_it{
	position: absolute;
	top: 70%;
	left:28%; 
	width: 120px;
	padding: 4px; 
	background: #B8B6B6;
	border: 0;
	outline:none;
	border-radius: 3px;
	color :#fff;
}    

.item{
	position: relative;
	min-width:100%;
	height:100%;
}
    .item img{
  width: 100%;
  height: auto;
  border-radius: 4px;
}
@supports(object-fit: cover){
    .item img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
h1{
	text-align: center;
}
.swiper-pagination{
	position: absolute;
	bottom:2% ;
}
.contenedor{
	width: 100%;
	height: 100%;
	background:#33FFD4 ;
}



.sw2 {
	position: relative;	
      width: 10%;
      height: 500px;
      border-radius: 4px;
      
    }
    div.opc{
	border: 0;
	border-radius: 7px;
	margin: 0px 30px;
	width: 300px;
	height: 160px;
	overflow: hidden;
	background: #fff;
}
.opciones_1{
position: absolute;

left: 5%;
	background-image: 
	linear-gradient(to top,#0B2BF9,#63B2EB);
	

}

.opciones_2{
position: absolute;

right:5%;
	background-image: 
	linear-gradient(to top,#0B2BF9,#63B2EB);
	

}
.opciones_3{
position: absolute;
top: 60%;
left: 5%;
	background-image: 
	linear-gradient(to top,#0B2BF9,#63B2EB);
	

}

.opciones_4{
position: absolute;
top: 60%;
right: 5%;
	background-image: 
	linear-gradient(to top,#0B2BF9,#63B2EB);
	

}

@media (max-width: 800px){
body{
	background: #fff;
}
div.df{
	position: relative;	
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background: #61075D;
      
    }
    	.contenedor{
	width: 100%;
	height: 100%;
	background:#61075D ;
}

 div.opc{
	border: 0;
	border-radius: 7px;
	margin: 0px 30px;
	width: 200px;
	height: 120px;
	overflow: hidden;
	background: #fff;
	display: block;
}
}